menuconfig RPR_WIFI
    bool "Enable Wi-Fi support"
    depends on RPR_NETWORKING
    select WIFI
    select CONFIG_HEAP_MEM_POOL_IGNORE_MIN
    default n 
    help
      Enable Wi-Fi networking stack.

if RPR_WIFI

config RPR_WIFI_LOG_LEVEL
    int "Wi-Fi module log level"
    range 0 4
    default 3
    help
      0=OFF, 1=ERROR, 2=WARNING, 3=INFO, 4=DEBUG

config RPR_WIFI_GET_SCAN_RESULT
    bool "Enable retrieval of Wi-Fi scan results"
    default n
    help
      Enable API to retrieve and access the last scanned Wi-Fi networks.

config RPR_WIFI_SCAN_RESULT_MAX_SIZE
    int "Maximum number of stored Wi-Fi scan results"
    depends on RPR_WIFI_GET_SCAN_RESULT
    range 1 64
    default 10
    help
      Defines how many scan results will be stored and returned
      when retrieving scan data.

config RPR_WIFI_SHELL_SUPPORT
    bool "Enable WI-FI Shell to test"
    select NET_L2_WIFI_SHELL
    depends on RPR_WIFI
    default y if RPR_MODULE_CLI_SHELL_TEST 
    help
      Enable Wi-Fi L2 shell commands.

endif # RPR_WIFI